<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Favorites

    <a data-toggle="collapse" href="#article_favorites_new_form">
      Add favorite
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @article.favorites.each do |favorite| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to favorite, favorite %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to favorite, method: :delete, data: { confirm: "Do you really want to delete this favorite" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="article_favorites_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "articles/article_favorites_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
