<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Articles

    <a data-toggle="collapse" href="#user_articles_new_form">
      Add article
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.articles.each do |article| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to article, article %>
        <!-- Show link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_articles_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "users/user_articles_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
